tr {
	color: #2C4351;
	background-color: white;
	border-radius: 4px;
	transition: 0.5s;
}

td {
	padding: 1rem;
}

table {
	border: 2px black;
}

th {
	padding: 1rem;
	font-weight: bold;
	text-align: left;
}

.table-item:hover {
	background-color: #EDF1F0;
	transition: 0.5s;
}